<!DOCTYPE html>
<html>
<head prefix=”og: http://ogp.me/ns#”>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta property="og:url" content="https://siramatu.github.io/brigade-visualizer/" />
  <meta property="og:title" content="Brigade Visualiser" />
  <meta property="og:description" content="各地ブリゲードの特徴を分かりやすく伝えたい" />
  <meta property="og:image" content="https://siramatu.github.io/brigade-visualizer/img/ogp.png" />
  <title>BRIGADE-VISUALIZER</title>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet">
  <style type="text/css">
    #mynetwork {
      width: 99%;
      height: 500px;
      border: 1px solid #d0d0d0;
    }
  </style>
</head>
<body>
  <div id="app">
    <el-header><img src="./img/logo.png" height="90px"></el-header>
    <el-main>
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="Top" name="first">
            <el-select v-model="selectedValue" placeholder="選択してください">
              <el-option
                v-for="item in brigades"
                :key="item.name"
                :label="item.name"
                :value="item.name">
              </el-option>
            </el-select>
          <el-button v-on:click="draw()" v-loading.fullscreen.lock="fullscreenLoading">draw</el-button>
          <br><br>
          <div id="mynetwork"></div>
          <p>選択したブリゲードに近い上位5件のブリゲードを表示しています</p>
          <el-dialog :visible.sync="visible" title="message">
            <p>{{message}}</p>
          </el-dialog>
        </el-tab-pane>
        <el-tab-pane label="About" name="second">
          <iframe width="100%" height="500" src="https://hackmd.io/@TGL6KqgYTmyO2qgobnL2pg/Hy4uJ5CLD/" frameborder="0"></iframe>
        </el-tab-pane>
      </el-tabs>
      </el-main>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { 
            visible: false ,
            selectedValue:'',
            message:'',
            activeName: 'first',
            fullscreenLoading: false,
            brigades:null,
            keywords:null,
            brigade_distance:null,
            brigade_keyword_distance:null
        }
      },
      methods: {
        handleClick(tab, event) {
            console.log(tab, event);
        },
        draw: function() {//描画処理
          console.log("draw***********************");
          //入力チェック
          if (this.selectedValue == '') {
            this.message = "ブリゲードを選択して下さい";
            this.visible = true;
            return;
          }

          this.fullscreenLoading = true;

          //選択されたブリゲードと距離の近いブリゲードを取得する
          //let bg_arr = []
          let bg_map = new Map();
          bg_map.set(this.selectedValue,'1.0');
          let rows = this.brigade_distance;
          //console.log("rows:"+rows.length);
          for (let i=0;i<rows.length;i++) {
            let cols = rows[i].split(",");
            //console.log(this.selectedValue+":"+cols[0]+":"+(this.selectedValue === cols[0]));
            if (this.selectedValue === cols[0]) {
              bg_map.set(cols[1],cols[2]);//to
            } else if (this.selectedValue === cols[1]) {
              bg_map.set(cols[0],cols[2]);//from
            }
          }
          //valueで並び替え
          Array.from(bg_map.keys()).sort(
            function (a,b){
                return parseFloat(bg_map.get(a)) - parseFloat(bg_map.get(b))
              }
            );

          // Create a data table with nodes.
          var nodes = [];
          // Create a data table with links.
          var edges = [];
          var LENGTH_MAIN = 8000,
          LENGTH_SUB = 100,
          MAX_NODE = 5;
          //ブリゲードノードをプロット
          // let arr_brigade = bg_map.keys();
          // console.log("arr_brigade:"+arr_brigade.length);
          let cnt = 0;
          for (var key of bg_map.keys()) {
            console.log(key+":"+bg_map.get(key));
            if (cnt <= MAX_NODE) {//上位のみ表示
              nodes.push({ id: key, label: key, group: (key == this.selectedValue)?"selected":"brigade", value: 10 });
            } else {
              bg_map.delete(key);//表示しないものは削除
            }
            cnt++;
          }

          //ブリゲード間の距離
          rows = this.brigade_distance;
          for (let i=0; i<rows.length; i++) {
            let cols = rows[i].split(",");
            if (!bg_map.has(cols[0])&&!bg_map.has(cols[1])) continue;
            edges.push({
              from: cols[0],
              to: cols[1],
              length: LENGTH_MAIN * (1-parseFloat(cols[2])),
              width: 1,
              label:cols[2],
              smooth:true,
            });
          }

          //ブリゲードとキーワード間の距離
          let ky_map = new Map();
          rows = this.brigade_keyword_distance;
          for (let i=0; i<rows.length; i++) {
            let cols = rows[i].split(",");
            if (!bg_map.has(cols[0])) continue;
            //console.log(cols[0]);
            edges.push({
              from: cols[0],
              to: cols[1],
              length: LENGTH_SUB * (1-parseFloat(cols[2])),
              width: 1,
              smooth:true,
            });
            ky_map.set(cols[1],'');//keyword
          }

          //キーワードノードをプロット
          rows = this.keywords;
          for (let i=0; i<rows.length; i++) {
            let name = rows[i].keyword;
            if (!ky_map.has(name)) continue;
            nodes.push({ id: name, label: name, group: "keyword", value: 5 });
          }


          // create a network
          var container = document.getElementById("mynetwork");
          var data = {
            nodes: nodes,
            edges: edges,
          };
          var options = {
            nodes: {
              scaling: {
                min: 16,
                max: 32,
              },
            },
            edges: {
              color: "#dddddd",
              smooth: true,
            },
            physics: {
              barnesHut: { gravitationalConstant: -30000 },
              stabilization: { iterations: 2500 },
            },
            groups: {
              selected: {
                shape: "star",
                color: "#FF0000", // orange
                font: "50px arial",
              },
              brigade: {
                shape: "triangle",
                color: "#FF9900", // orange
                font: "40px arial",
              },
              keyword: {
                shape: "dot",
                color: "#409EFF", // blue
                font: "32px arial #409EFF",
              },
            },
          };
          network = new vis.Network(container, data, options);
          network.on("afterDrawing", () => {this.fullscreenLoading = false;});
        }
      },
      mounted: function () {
        //JSONデータの読み込み
        axios.get("./json/brigades.json").then(response => (this.brigades = response.data));
        //console.log("brigades:"+this.brigades);
        axios.get("./json/keywords.json").then(response => (this.keywords = response.data));
        axios.get("./json/brigade-distance-bert.json").then(response => (this.brigade_distance = response.data));
        axios.get("./json/brigade-keyword-distance-bert.json").then(response => (this.brigade_keyword_distance = response.data));

        // bertを用いないで計算したベクトルにする場合は以下をコメントアウト
        // axios.get("./json/brigade-distance.json").then(response => (this.brigade_distance = response.data));
        // axios.get("./json/brigade-keyword-distance.json").then(response => (this.brigade_keyword_distance = response.data));
      }
    })
  </script>
</html>
